* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}
ul, ol{list-style:none;}
	a {text-decoration:none; color:black;}

@font-face{
	font-family:"FontAwesome";
	src:url("../fonts/fontawesome-free-5.15.1-web/webfonts/fa-solid-900.woff");
	
}

header{
	text-align:center;
}

header h1 {
	font-size: 30px; 
	padding:25px;
}
header h2 {
	font-size: 25px; 
	padding:20px;
}
header h2:before{
	content: "\f000";
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
/*--adjust as necessary--*/
	color: #000;
	font-size: 18px;
	padding-right: 0.5em;
	position: relative;
	top: 0px;
	left: 0px;
}
header h3 {
	font-size: 20px;
	padding:15px; 
	}
header h4 {
	font-size: 15px; 
	padding:10px;
}

nav li { 
	display:inline-block; 
	padding:20px;
}
nav a:hover {background-color:grey; color:white; padding:20px;}

section{
	width:33.33%;
	float:left;
}
article header {
	color:white;
}

article{
	background-color:grey;
	margin:0px 10px 2px 0px;
	border-radius:5%;
}

article .content {
position:relative; 
padding-left: 125px;
}
article figure{
	position:absolute;
	left:2px;
	top:2px;
}
article img {
	width:120px;
	height:120px;
}
article figcaption{
	font-size:8px;
	text-align:center;
}
article footer{
	text-align:right;
	margin-right:60px;
}
main{
	content: "";
    display: table;
    clear: both;
}
footer{
	text-align:center;
	padding:15px;
}
